body {
    background: radial-gradient(circle, #504B44 0%, #373737 100%);
    min-height: 100vh;
    margin: 0;
}

.menubar-top .reserveButtonPrimary  {
    font-family: 'DM Sans', sans-serif !important;
    font-weight: 500;
    font-size: 1.1rem; 
    letter-spacing: 0.5px; 
    cursor: pointer; 
    color: #f2e6ce;
}

.menubar-top a {
    border-bottom: 2px solid transparent;
    transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
    padding-bottom: 4px;
    display: inline-block;
}

.menubar-top a:hover  {
    border-color: #efe5d2;
    color: #efe5d2;
}

.reserveButtonPrimary  {
    border-color: #efe5d2;
    color: #efe5d2;
    border-bottom: 2px solid transparent;
    transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
    padding-bottom: 4px;
    display: inline-block;
}

.menubar-top a.active {
    border-color: #f2e6ce;
    color: #f2e6ce;
}

.title-main {
    font-family: 'Manufacturing Consent', sans-serif !important;
    font-weight: 500;
    font-size: clamp(4rem, 10vw, 20rem);
    letter-spacing: 0.5px; 
    cursor: pointer; 
    color: #efe5d2;
    text-shadow: #373737 6px 5px 0px;
    display: inline-block;
}

.glass-header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 20px 40px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
}


a {
    color: #f2e6ce;
    text-decoration: none;
}

.primary-card-text {

    font-family: 'DM Sans', sans-serif !important;
    color:#efe5d2;
    display: block;
    width: fit-content;
    font-size: clamp(1rem, 2vw, 3rem);
}
.secondary-card-text {

    font-family: 'DM Sans', sans-serif !important;
    color:#efe5d2;
    display: block;
    width: fit-content;
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin-left: 6rem;
}

.div-primary {

    display: flex;
    flex-direction: row;
    width:100%;
    

}

.reserveButtonPrimary  {
    font-family: 'DM Sans', sans-serif !important;
    font-weight: 500;
    font-size: 1.1rem; 
    letter-spacing: 1px; 
    cursor: pointer; 
    color: #f2e6ce;
    border: #efe5d2 2px solid;
    border-radius: 4px;
    text-align: center;
}